@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-image: url("img/back.png"); 
  }
  img {
    max-width: 100%;
  }
  
ul {
    list-style-type: none;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .navbar {
    color: #14044D;
    height: 60px;
  }
  
  .navbar .logo {
    font-size: x-large;
    font-weight: bold;
  }
  
  .navbar a {
    color: #14044D;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  

  .home{
    height:100vh;
    position:relative;
}

.title {
    font-size: 2rem;
}
.descp {
    font-size: 2rem;
}
.text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1A202C;
}
.btn{
    margin-top: 0.4cm;
    border: 2px solid #716B94;
    color: #1A202C;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    transition-duration: 0.4s;
}
.btn:hover {
    background-color: #716B94; 
    color: white;
  }
