@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/back.png"); 
    box-sizing: border-box;
}

body{
    font-size: larger;
    height: 100vh;
}


 
ul {
    list-style-type: none;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .navbar {
    color: #14044D;
    height: 60px;
  }
  
  .navbar .logo {
    font-size: x-large;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #37367b;
    text-decoration: underline;}

  .navbar a {
    color: #14044D;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
.navbar ul li .about{
    text-decoration: underline;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  .title {
    font-size: 2rem;
}

h2{
    color: #14044D;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
   
}
.boxes{
    display:flex;
    justify-content: space-around;
    gap:25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.box {
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid #716B94;
    border-radius: 4px;
}

.box .title{
    color:#716B94;
}
.box .text{
    text-align: center;
    font-weight: 400;
    color: #716B94;
    font-size: 18px;
}
.section2{
    display: flex;
    justify-content: space-around;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:350px;
}
.image img{
    width:200px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.image h5{
    text-transform: capitalize;
    color:#716B94
}
.image h4{
    text-transform: capitalize;
    color:#14044D
}

.class{
    display: flex;
    gap:15px;
    flex-direction: column;
    width:50%;
}
.skills{
    width:100%;
    height:35px;
    background:white;
    border-radius: 8px;
    text-align: right;
    padding: 0;
    position:relative;
    
}
.css{
    width:70%;
}
.html{
    width: 70%;
}
.embeddedc{
    width:60%;
}
.rtos{
    width:70%
}
.vhdl
{
    width:70%
}
.skill {
    background:#716B94;
    height:100%;
    position:absolute;
    border-radius: 10px;
    align-items: center;
    text-align: left;
    color:rgba(255, 255, 255, 0.904);
    padding-left: 15px;
    padding-top: 4px;
}
.icons a{
    color: #716B94;
    border:2px solid #180489;
    font-size: 30px;
    border-radius: 5px;
}
.icons{
    display:flex;
    justify-content: center;
    gap:18px;
}
